// Colors matrix
$c-white: #fff;
$c-black: #000;
$c-cyan: #66f4ef;
$c-blue: #539ef7;
//$c-blue: red;
$c-violet: #7a60f8;
$c-light-purple: #af62f7;
$c-pink: #ff8ab7;

// header and footer sizing
$header-height: 110px;
$header-height-mobile: 68px;

$footer-height: 70px;
$footer-height-mobile: 68px;
