---
name: about
title: Ask MUMM | About
layout: about
---

<main id="main">
  <section class="l-about__section">
    <img src="{{root}}assets/img/cards/card-1.png"
         srcset="{{root}}assets/img/cards/card-1@2x.png 2x" class="card card--center"/>
  </section>
  <section class="l-about__section">
    <img src="{{root}}assets/img/cards/card-2.png"
         srcset="{{root}}assets/img/cards/card-2@2x.png 2x" class="card card--right"/>
  </section>
  <section class="l-about__section">
    <img src="{{root}}assets/img/cards/card-3.png"
         srcset="{{root}}assets/img/cards/card-3@2x.png 2x" class="card card--left"/>
  </section>
  <section class="l-about__section video">
    <div class="video__wrapper card card--right" >
      <iframe src="https://www.youtube.com/embed/gf_vPP2S7bU?rel=0&amp;showinfo=0" frameborder="0" encrypted-media" allowfullscreen></iframe>
      <img src="{{root}}assets/img/cards/card-bulk.png" class="card card--right"/>
    </div>
  </section>
</main>
<div class="background is-{{name}} "></div>
<div id="stage-4" class="stage stage--4"></div>
<div id="stage-3" class="stage stage--3"></div>
<div id="stage-2" class="stage stage--2"></div>
