---
name: faq
title: Ask MUMM | FAQ
---
<main>
  <section class="l-faq js-faq">
    <h2 class="l-faq__header">Browse by Topic</h2>

    <article class="l-faq__topic">
      <h3 class="l-faq__title">signing up and signing in</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">I signed up, but didn’t receive the confirmation email with the code.
        </dt>
        <dd class="faq__answer">Firstly check your junk mail folder. If it’s not there, you have the option “resend”.
        </dd>
        <dt class="faq__question" tabindex="0">I can’t remember my Username/Password</dt>
        <dd class="faq__answer">You have the option to “Get help” on the log in page if you forget either.</dd>
        <dt class="faq__question" tabindex="0">I want to change my Username/Password.</dt>
        <dd class="faq__answer">Go to the notifications page from the main menu. Here you are able to change both.</dd>
        <dt class="faq__question" tabindex="0">What is the difference between a “private” and “public” profile?</dt>
        <dd class="faq__answer">If you select “private” you will need to manually accept all friend requests received.
          If you select “public”,
          every friend request will be automatically accepted.
        </dd>
      </dl>
    </article>

    <article class="l-faq__topic">
      <h3 class="l-faq__title">asking a question</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">How do I ask a question?</dt>
        <dd class="faq__answer">Tap on the + in the purple circle on the bottom right of your screen.</dd>
        <dt class="faq__question" tabindex="0">How can I attach a photo to my question?</dt>
        <dd class="faq__answer">Tap on the “gallery” button to add a photo, or take a photo and add using the “camera”
          button. You can add up
          to 3 photos.
        </dd>
        <dt class="faq__question" tabindex="0">Can I remove photos/videos added to the ask screen?</dt>
        <dd class="faq__answer">Yes. On Android, tap and hold on the photo and you will see a little red circle appear
          in the top right
          corner of the photo. Tap this and photo will be removed.
        </dd>
        <dd class="faq__answer">On IOS, tap on the little circle with the x symbol on the top left of the screen.</dd>
        <dt class="faq__question" tabindex="0">How can I attach a video to my question?</dt>
        <dd class="faq__answer">Same way that you add a photo.</dd>
        <dt class="faq__question" tabindex="0">How long can the video go for?</dt>
        <dd class="faq__answer">Currently 10 seconds is the maximum length videos can be.</dd>
        <dt class="faq__question" tabindex="0">How do I add answers for my friends to vote on?</dt>
        <dd class="faq__answer">On the ask screen, tap on the “vote” button. Here you can either add “text” or “photo”
          votes. (you cannot add
          videos)
        </dd>
        <dt class="faq__question" tabindex="0">Can I remove photos added to “photo” vote?</dt>
        <dd class="faq__answer">Yes. On Android, tap on the picture and select “remove” Editing will be a feature added
          at a later date.
        </dd>
        <dd class="faq__answer">On IOS, tap on the picture and select “Remove Current Photo” or “Change Photo”</dd>
        <dt class="faq__question" tabindex="0">Is it only when 15min is selected for my question to be answered that my
          friends will receive the song
          alert?
        </dt>
        <dd class="faq__answer">Yes. BUT, stay tuned, as there will be some cool updates to the alerts in the next
          release.
        </dd>
        <dt class="faq__question" tabindex="0">Can I send questions to friends and anonymous people at the same time?
        </dt>
        <dd class="faq__answer">Yes.</dd>
        <dt class="faq__question" tabindex="0">Will my friends see what other friends have voted for on my question?
        </dt>
        <dd class="faq__answer">If you want them to. If you DON’T want your friends to know the results of the question
          sent, enable the
          “private replies” switcher on the “ask” screen.
        </dd>
      </dl>
    </article>


    <article class="l-faq__topic">
      <h3 class="l-faq__title">question results</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">Where do I find the results of questions I have asked?</dt>
        <dd class="faq__answer">On the “asked” screen. Here will be a list of the questions you have asked, and the
          results in real time of
          what friends have voted for.
        </dd>
        <dt class="faq__question" tabindex="0">How do I read comments that have been left?</dt>
        <dd class="faq__answer">Tap of the comment which will be bolded.</dd>
        <dt class="faq__question" tabindex="0">How long am I able to see the results of my questions?</dt>
        <dd class="faq__answer">For 24hrs after the time set for that question expires. After this, the question and
          results/comments will
          disappear.
        </dd>
      </dl>
    </article>

    <article class="l-faq__topic">
      <h3 class="l-faq__title">receiving questions</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">How will I know I have received a question?</dt>
        <dd class="faq__answer">You will either hear the song alert (if 15min question) or will receive a notification
          on your screen. You can
          change when you will receive notifications on the notifications screen under Settings.
        </dd>
        <dt class="faq__question" tabindex="0">How much time do I have to answer the question?</dt>
        <dd class="faq__answer">For as long as the sender has selected when the question was sent. If it was set for
          1hr, and you have not
          answered within that time, the question will disappear from your “received” screen.
        </dd>
        <dt class="faq__question" tabindex="0">How do I know how much more time I have to answer a question?</dt>
        <dd class="faq__answer">Time remaining will show in the bottom left hand corner of the question.</dd>
        <dt class="faq__question" tabindex="0">Can I see the results of questions I have answered?</dt>
        <dd class="faq__answer">It’s up to the friend who sent the question. They have the option of either allowing or
          not allowing the
          results to be public.
        </dd>
        <dt class="faq__question" tabindex="0">Can I delete a question that has been sent to me if I don’t want to
          answer it?
        </dt>
        <dd class="faq__answer">Yes. Swipe on the question from right to left and a trash bin will appear. Tap the bin
          to delete.
        </dd>
      </dl>
    </article>

    <article class="l-faq__topic">
      <h3 class="l-faq__title">friends</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">How do I find and invite friends?</dt>
        <dd class="faq__answer">On the main menu screen (from the home page, tap on the 3 little lines in the top left
          of the screen) type the
          name of your friend in the “search for people” box. Tap on your friend and select the “follow” button. A
          request
          will be sent to your friend. This friend will be shown on your requested screen under “FRIENDS” as pending.
        </dd>
        <dt class="faq__question" tabindex="0">How do I know if I have received a friend request?</dt>
        <dd class="faq__answer">You will get a notification on your phone screen if you have this option enabled on the
          notifications page.
          When you first sign up, this will automatically be enabled. It will be shown on your requested screen under
          “FRIENDS” where you have the option to “accept” or “hide” that friend.
        </dd>
        <dt class="faq__question" tabindex="0">What happens when I accept a friend request?</dt>
        <dd class="faq__answer">This friend will be moved to your “followers” page and they will receive your questions.
          If you also want to
          receive their questions, tap the “follow” button. This friend will now be a green friend, showing under both
          “following” and “followers”.
        </dd>
        <dt class="faq__question" tabindex="0">How do I unfollow a friend?</dt>
        <dd class="faq__answer">From either your “followers” or “following” screen, tap on your friend and select
          unfollow. This will mean you
          will no longer receive their questions. You still will be able to send them questions unless that friend also
          unfollows you. Until that friend unfollows you they will show on your “followers” page where you will be able
          to
          be friends with them again by hitting the follow button.
        </dd>
        <dt class="faq__question" tabindex="0">What is the difference between green friends and pink friends?</dt>
        <dd class="faq__answer">Green are friends you can send and receive questions from. Pink are friends you will
          only receive questions
          from. You cannot send them questions. Pink friends are more than likely going to be famous people who have
          thousands of friends and don’t want to be inundated with thousands of questions every day from fans.
        </dd>
        <dt class="faq__question" tabindex="0">Why is one of my green friends now pink?</dt>
        <dd class="faq__answer">That friend has decided to unfollow you and you will no longer be able to send them
          questions. You will only
          receive their questions. You can decide you are OK with this, or you too can unfollow that pink friend so you
          will no longer receive their questions.
        </dd>
      </dl>
    </article>

    <article class="l-faq__topic">
      <h3 class="l-faq__title">notifications</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">What notifications are automatically switched on when I sign up to the
          app?
        </dt>
        <dd class="faq__answer">You will automatically receive notifications when a friend sends an urgent question
          (15min time limit to
          answer.) When a comment is left for one of the questions you have asked, and when you receive friend requests.
          Notification settings are shown under “settings” on the main menu screen and can be adjusted to how you like.
        </dd>
        <dt class="faq__question" tabindex="0">Why when sometimes I have notifications of friends sending questions, I
          try to answer the question but it is
          no longer there?
        </dt>
        <dd class="faq__answer">Notifications will stay until you have tapped on them regardless of how long they have
          been there for. If a
          friend has sent a question and set the time for it to be answered in 1hr, and you have not answered within
          that
          hour, the question will disappear from your “received” screen which is why sometimes you will tap on the
          notification and there will be nothing there.
        </dd>
        <dt class="faq__question" tabindex="0">Sometimes I will get notifications for questions, friend requests etc but
          there will be nothing showing, even
          if I tap on the notification as soon as it is received.
        </dt>
        <dd class="faq__answer">You will need to refresh the page. On IOS move from 1 screen and then back. On Android,
          swipe down from the
          top of your screen.
        </dd>
      </dl>
    </article>

    <article class="l-faq__topic">
      <h3 class="l-faq__title">settings</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">How do I change my password/username/email address?</dt>
        <dd class="faq__answer">Tap on “settings’ which is found on the main menu screen. From here you are able to
          adjust everything.
        </dd>
      </dl>
    </article>

    <article class="l-faq__topic">
      <h3 class="l-faq__title">alerts</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">What type of alerts are there?</dt>
        <dd class="faq__answer">Currently there is only 1 alert which is for urgent questions sent from friends. 15mins
          is deemed urgent. You
          can set this alert to be Song, Vibrate or Song and Vibrate. Upon sign up, it will be automatically set to
          Song.
          This can be adjusted under the “settings” screen
        </dd>
      </dl>
    </article>

    <article class="l-faq__topic">
      <h3 class="l-faq__title">miscellaneous</h3>
      <dl class="faq">
        <dt class="faq__question" tabindex="0">Can I create different groups for my friends?</dt>
        <dd class="faq__answer">Yes. To create a new group, from either your “following” or “followers” screen, tap on
          the friend and select
          “Change Group”. Either move them to a group already created, or select “Create New Group”. Type the name and
          add.
        </dd>
        <dt class="faq__question" tabindex="0">Can I send a friend request to an anonymous person who has answered one
          of my questions?
        </dt>
        <dd class="faq__answer">Yes, but only if they have added a comment to your question. When you tap on comment to
          view, you will have
          the option to “follow” that anonymous person.
        </dd>
        <dt class="faq__question" tabindex="0">How can I add/change my avatar photo on my profile?</dt>
        <dd class="faq__answer">From the main menu page tap on “view my profile”. Here you can add or change your
          profile photo.
        </dd>
        <dt class="faq__question" tabindex="0">How do I get in contact with Ask MUMM?</dt>
        <dd class="faq__answer">For product support or general feedback contact our support team on
          <a href="mailto:contact@askmumm.com">contact@askmumm.com</a>
          For business related matters please feel free to contact our business team on
          <a href="mailto:business@askmumm.com">business@askmumm.com</a>
        </dd>
      </dl>
    </article>
  </section>
</main>
