---
name: landing
title: Ask MUMM
---
<main>

  <section class="container">
    <div class="l-landing">
      <div class="l-landing__header">
        <img class="l-landing__logo"
             src="assets/img/svg/make-up-my-mind-logo.svg"
             alt=" Make Up My Mind Logo">
      </div>

      <div class="l-landing__picture">
        <img class="l-landing__iphones"
             src="assets/img/iphones-couple.png"
             srcset="assets/img/iphones-couple@2x.png 2x"
             alt="A couple of i-Phones">
      </div>
      <div class="l-landing__stores stores">

        <div class="l-landing__header l-landing__header--desktop">
          <img class="l-landing__logo"
               src="{{root}}assets/img/svg/make-up-my-mind-logo.svg"
               alt=" Make Up My Mind Logo">
        </div>

        <h4 class="stores__title">Get the app</h4>

        <div class="stores__badges">
          <a class="stores__link" href="" tabindex="0">
            <img class="stores__badge-item"
                 src="{{root}}assets/img/svg/app-store-badge.svg"
                 alt="Download on the App Store">
          </a>
          <a class="stores__link" href="https://play.google.com/store/apps/details?id=com.anadea.askmumm" tabindex="0">
            <img class="stores__badge-item"
                 src="{{root}}assets/img/svg/google-play-badge.svg"
                 alt="GET IT ON Google play">
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
