---
name: terms
title: Ask MUMM | MARKETPLACE TERMS AND CONDITIONS
---
<main>
  <section class="l-terms">
    <div class="container">
      <h2 class="l-terms__header">MARKETPLACE TERMS AND CONDITIONS</h2>

      <p>Ask MUMM ABN 71 658 915 440 (referred to as Ask MUMM) provides a social network to allow users to ask questions
        to other users and to get answers through the Ask MUMM mobile application (App) (together the Services).</p>
      <h3 class="l-terms__title">1. Contract</h3>
      <ol type="a">
        <li>These Terms and Conditions (Terms) form a binding legal agreement between Ask MUMM and each person,
          organisation or entity using the App and Services (referred to as User). By using the App and Services, each
          User agrees to comply with and be legally bound by these Terms. Please read the Terms carefully. If there are
          any questions, please contact Ask MUMM using the contact details at the end of these Terms.
        </li>
        <li>The User’s use of the App and the Services indicates that:
          <ol type="i">
            <li>the User has had sufficient opportunity to access the Terms and contact Ask MUMM;</li>
            <li>the User has read, accepted and will comply with the Terms;</li>
            <li>the User has legal capacity to enter into a contract for sale; and</li>
            <li>the User is 18 years or older or if younger than 18 years, the User has the approval of its parent or
              guardian. In any case, the User must be at least 13 years old.
            </li>
          </ol>
          <p>If this is not correct, or if the User does not agree to these Terms, the User is not permitted to use any
            of
            the Services.</p>
        </li>
        <li>Ask MUMM may amend these Terms at any time. Use of our Services following any such amendments will be deemed
          to be confirmation that the User accepts those amendments.
        </li>
        <li> These Terms supplement and incorporate:
          <ol type="i">
            <li>The Ask MUMM policies and terms and conditions including without limitation the Privacy Policy linked on
              the App;
            </li>
            <li>the Apple, Inc. Terms and Conditions including, without limitation, the Licensed Application End User
              License Agreement provided therein; and
            </li>
            <li>Google Play Terms of Service.</li>
          </ol>
        </li>
        <li>Ask MUMM’s Privacy Policy sets out how Ask MUMM collects, uses and protects the personal information of its
          Users and is available on the App.
        </li>
      </ol>

      <h3 class="l-terms__title">2. Introductory Service Only </h3>
      <ol type="a">
        <li>Each User understands and agrees that the App is an online social network only, and that Ask MUMM’s
          responsibilities are limited to facilitating the availability of the App and the Services.
        </li>
        <li>Ask MUMM is not a party to any agreement entered into between Users. Ask MUMM is not a seller, referrer or
          booking agent, and provides no such related services. Ask MUMM has no control over the conduct of Users of the
          App and the Services. Ask MUMM disclaims all liability in this regard, as set out in these Terms.
        </li>
      </ol>


      <h3 class="l-terms__title">3. Online Registration</h3>
      <ol type="a">
        <li>A User must register on the Site and create an account (Account) to access the Services.</li>
        <li>Each User may only have one (1) Account on the App.</li>
        <li>Each User is required to provide certain information when registering an Account including name, email
          address, and location and must select a username and password.
        </li>
        <li>Each User agrees to provide accurate, current and complete information during the registration process and
          to
          update such information to keep it accurate, current and complete. Ask MUMM reserves the right to suspend or
          terminate any User’s Account and his/her access to the App and Services if any information provided to Ask
          MUMM
          proves to be inaccurate, not current or incomplete.
        </li>
        <li>To keep information secure and confidential, Ask MUMM uses SSL Certificates to establish an encrypted link
          between a server and a User. Further information on the storage and security of personal information can be
          found in our Privacy Policy
        </li>
        <li>It is the User’s responsibility to keep its Account details, username and password confidential. The User is
          liable for all activity on its Account. The User agrees that it will not disclose its password to any third
          party and that it will take sole responsibility for any activities or actions under its Account, whether or
          not
          it has authorised such activities or actions.
        </li>
        <li>The User will immediately notify Ask MUMM of any unauthorised use of its Account.</li>
      </ol>

      <h3 class="l-terms__title">4. Users</h3>
      <ol type="a">
        <li>Each User should report to Ask MUMM, any questions or answers of Users which are, or which the User
          reasonably
          believes to be:
          <ol type="i">
            <li>suspicious;</li>
            <li>inconsistent;</li>
            <li>illegal; or</li>
            <li>likely to have a negative effect on the reputation of Ask MUMM, the App, Services and/or a User.</li>
          </ol>
        </li>
        <li>Each User represents and warrants that any content that it provides:
          <ol type="i">
            <li>will not breach any agreements it has entered into with any third parties;</li>
            <li>will be in compliance with all applicable laws, tax requirements, and rules and regulations that may
              apply
              to any User in its local area and country; and
            </li>
            <li>will not conflict with the rights of third parties.</li>
          </ol>
        </li>
        <li>For the avoidance of doubt, Ask MUMM assumes no responsibility for a User’s compliance with any applicable
          laws, rules and regulations.
        </li>
        <li>Ask MUMM reserves the right, at any time and without prior notice, to remove or disable access to any
          Account
          for any reason, including Accounts that Ask MUMM, at its sole discretion, considers to be objectionable for
          any
          reason, in violation of these Terms or otherwise harmful to the App or Services.
        </li>
      </ol>


      <h3 class="l-terms__title">5. Payments</h3>
      <ol type="a">
        <li>Users do not have to pay a fee to register for an Account or to access and use the Site.</li>
      </ol>

      <h3 class="l-terms__title">6. Offers and Promotions</h3>
      <ol type="a">
        <li>Ask MUMM may, from time to time, make offers or promotions which may be applicable to the Services.</li>
        <li>The conditions of such offers or promotions will be specified on the Site.</li>
        <li>The User acknowledges and agrees that Ask MUMM may, at its sole discretion, remove or extend any offers or
          promotions, and Ask MUMM will not be responsible or liable for any potential loss or damage which the User
          incurs as a result of the removal or extension of any offers or promotions.
        </li>
      </ol>


      <h3 class="l-terms__title">7. Dispute Resolution</h3>
      <ol type="a">
        <li>By using our Site, App and Services, each User agrees that any legal remedy or liability that he or she may
          seek to obtain for actions or omissions of another User, or other third party, will be limited to a claim
          against the User or other third party, who caused harm to him or her. Ask MUMM encourages Users to communicate
          directly with the relevant User or third party to resolve any disputes.
        </li>
        <li>Ask MUMM welcomes feedback from its Users. Ask MUMM seeks to resolve concerns quickly and effectively. If
          any
          User has any feedback or questions about the Services, please contact any member of the staff.
        </li>
        <li>If there are any complaints from a User, Ask MUMM will aim to respond and provide a suitable solution within
          45 days. If a User is not satisfied with Ask MUMM’s response, the User and Ask MUMM agree to the following
          dispute resolution procedure:
          <ol type="i">
            <li>The complainant must tell the respondent in writing, the nature of the dispute, what outcome the
              complainant wants and what action the complainant thinks will settle the dispute. The User and Ask MUMM
              agree to meet in good faith to seek to resolve the dispute by agreement between them (Initial Meeting).
            </li>
            <li>If a resolution cannot be agreed upon at the Initial Meeting, either the User or Ask MUMM may refer the
              matter to a mediator. If the User and Ask MUMM cannot agree on who the mediator should be, the complainant
              will ask the Law Society of New South Wales to appoint a mediator. The mediator will decide the time and
              place for mediation. Each party to the dispute must attend the mediation in good faith, to seek to resolve
              the dispute.
            </li>
          </ol>
        </li>
        <li>Any attempts made by a party to resolve a dispute pursuant to this clause are without prejudice to other
          rights or entitlements of either party under these Terms, by law or in equity.
        </li>
      </ol>


      <h3 class="l-terms__title">8. Cancellation of Registration </h3>
      <ol type="a">
        <li>If a User wishes to cancel its registration, it will need to do so in writing by contacting us at the email
          address at the bottom of these Terms. Users can also deactivate their Account at any time via the App.
        </li>
      </ol>

      <h3 class="l-terms__title">9. Consumer Guarantees </h3>
      <ol type="a">
        <li>Certain legislation including the Australian Consumer Law (ACL) in the Competition and Consumer Act 2010
          (Cth), and similar consumer protection laws and regulations may confer the User with rights, warranties,
          guarantees and remedies relating to the provision of Services by Ask MUMM to the User which cannot be
          excluded,
          restricted or modified (Statutory Rights).
        </li>
        <li>If the User is a consumer as defined in the ACL, the following notice applies to the User from Ask MUMM:
          “Ask
          MUMM guarantees that the Services supplied to the User are rendered with due care and skill; fit for the
          purpose
          that Ask MUMM advertises, or that the User has told Ask MUMM he, she or it is acquiring the Services for or
          for
          a result which the User has told Ask MUMM he, she or it wishes the Services to achieve, unless Ask MUMM
          considers and discloses that this purpose is not achievable; and will be supplied within a reasonable time. To
          the extent Ask MUMM is unable to exclude liability; Ask MUMM’s total liability for loss or damage suffered or
          incurred by the User from the Services is limited to Ask MUMM re-supplying the Services to the User, or, at
          Ask
          MUMM’s option, Ask MUMM refunding to the User the amount he, she or it has paid Ask MUMM for the Services to
          which his, her or its claim relates.”
        </li>
        <li>Nothing in these Terms excludes a User’s Statutory Rights as a consumer under the ACL. The User agrees that
          Ask MUMM’s liability for Services provided to Users who are defined as consumers is governed solely by the ACL
          and these Terms.
        </li>
        <li>Ask MUMM excludes all conditions and warranties implied by custom, law or statute except for the User’s
          Statutory Rights. Except for the User’s Statutory Rights, all material and work is provided to the User
          without
          warranties of any kind, either express or implied, and Ask MUMM expressly disclaims all warranties of any kind
          including but not limited to implied warranties of merchantability and fitness for a particular purpose.
        </li>
      </ol>

      <h3 class="l-terms__title">10. Intellectual Property</h3>
      <ol type="a">
        <li>All logos, slogans, content, designs, diagrams, drawings, graphics, images, layouts, appearance, videos,
          ideas, methods, databases, codes, algorithms, software, fees, pricing, notes, documents, domain names,
          confidential information, copyright, rights in circuit layouts (or similar rights), registered or unregistered
          trade marks, trade names, patent, know-how, trade secrets and any other intellectual or industrial property
          whether such rights are capable of being registered or not (collectively Intellectual Property), including but
          not limited to copyright which subsists in all creative and literary works displayed on the App and Services,
          the layout, appearance and look of the App, together with any applications for registration and any rights to
          registration or renewal of such rights anywhere in the world, whether created before or after the date of
          these
          Terms and whether used or contained in the App is owned, controlled or licensed to Ask MUMM (or its affiliates
          and/or third party licensors as applicable).
        </li>
        <li>The User agrees that, as between the User and Ask MUMM, Ask MUMM owns or holds the relevant licence to all
          Intellectual Property rights in the App and Services, and that nothing in these Terms constitutes a transfer
          of
          any Intellectual Property. The Intellectual Property, App and Services are protected by copyright, trademark,
          patent, trade secret, international treaties, laws and other proprietary or industrial rights whether such
          rights are capable of being registered or not, and also may have security components that protect digital
          information only as authorised by Ask MUMM or the owner of the content.
        </li>
        <li>Some Intellectual Property used in connection with the App and Services are the trademarks of their
          respective
          owners (collectively Third Party Marks).
        </li>
        <li>Ask MUMM’s Intellectual Property and Third Party Marks may not be copied, imitated or used, in whole or in
          part, without the prior written permission of Ask MUMM or the applicable trademark holder or Intellectual
          Property owner.
        </li>
        <li>Users of the Site do not obtain any interest or licence in the Intellectual Property or Third Party Marks
          without the prior written permission of Ask MUMM or the applicable Intellectual Property owner. Users may not
          do
          anything which interferes with or breaches the Intellectual Property rights.
        </li>
      </ol>

      <h3 class="l-terms__title">11. User Licence</h3>
      <ol type="a">
        <li>Subject to these Terms, Ask MUMM grants the User a personal, non-exclusive, non-transferable, limited and
          revocable licence to use the App and Services for its own personal and/or non-commercial use only on a
          computer
          or mobile device owned or controlled by the User as permitted in accordance with these Terms (User Licence),
          and
          not to use the App and Services in any other way or for any other purpose, apart from local fair dealing
          legislation in accordance with the Copyright Act 1968 (Cth). All other uses are prohibited without Ask MUMM’s
          prior written consent.
        </li>
        <li>The right to use the App and Services is licensed to the User and not being sold to the User. A User has no
          rights in the App and Services other than to use it in accordance with these Terms.
        </li>
        <li>This Agreement and User Licence governs any updates to, or supplements or replacements for the App and
          Services, unless separate Terms accompany such updates, supplements or replacements, in which case the
          separate
          Terms will apply.
        </li>
      </ol>


      <h3 class="l-terms__title">12. Permitted and Prohibited Conduct</h3>
      <ol type="a">
        <li>The User will not remove, alter or obscure any copyright, trademark, service mark or other proprietary
          rights
          notices incorporated in or accompanying the App and Services, or Intellectual Property.
        </li>
        <li>The User is solely responsible for compliance with any and all laws, rules, regulations, including but not
          limited to tax obligations that may apply to its use of the App and Services.
        </li>
        <li>The User must not post, upload, publish, submit or transmit any content that:
          <ol type="i">
            <li>identifies the User or any other User (including phone numbers, home addresses, e-mail addresses).</li>
            <li>infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral
              rights or other intellectual property rights, or rights of publicity or privacy;
            </li>
            <li>is fraudulent, false, misleading or deceptive;</li>
            <li>denigrates Ask MUMM, the App, Services or a User;</li>
            <li>violates, or encourages any conduct that would violate, any applicable law or regulation or would give
              rise to civil liability;
            </li>
            <li>is defamatory, obscene, pornographic, vulgar, offensive, promotes discrimination, bigotry, racism,
              hatred,
              harassment or harm against any individual or group;
            </li>
            <li>is violent or threatening or promotes violence or actions that are threatening to any other person; or
            </li>
            <li>promotes illegal or harmful activities or substances.</li>
          </ol>
        </li>
        <li>In connection with the User’s use of the App and Services, the User may not and agrees that it will not:
          <ol type="i">
            <li>use the App or Services for any commercial or other purposes that are not expressly permitted by these
              Terms;
            </li>
            <li>register for more than one Account or register for an Account on behalf of another individual and/or
              entity;
            </li>
            <li>post or upload any content (including but not limited to User Content) that is offensive, contains
              nudity
              or inappropriate language, contains racial or religious ranting or discrimination or defames another User;
            </li>
            <li>submit any false or misleading information;</li>
            <li>violate any local, state, provincial, national, or other law or regulation, or any order of a court,
              including, without limitation, zoning restrictions and tax regulations;
            </li>
            <li>copy, store or otherwise access any information contained on the App and Services or content for
              purposes
              not expressly permitted by these Terms;
            </li>
            <li>infringe the rights of any person or entity, including without limitation, their intellectual property,
              privacy, publicity or contractual rights;
            </li>
            <li>use the App or Services to transmit, distribute, post or submit any information concerning any other
              person or entity, including without limitation, photographs of others without their permission, personal
              contact information or credit, debit, calling card or account numbers;
            </li>
            <li>use the App or Services in connection with the distribution of unsolicited commercial email, i.e. spam
              or
              advertisements;
            </li>
            <li>stalk or harass any other user of the Services or collect or store any personally identifiable
              information
              about any other user other than for purposes of transacting as a User on the App;
            </li>
            <li>use, display, mirror or frame the App, or any individual element within the App, Services, Ask MUMM’s
              name, any Ask MUMM trademark, logo or other Intellectual Property, information, or the layout and design
              of
              any page or form contained on a page, without Ask MUMM’s express written consent; or
            </li>
            <li>advocate, encourage, or assist any third party in doing any of the foregoing.</li>
          </ol>
        </li>
      </ol>

      <h3 class="l-terms__title">13. User Content</h3>
      <ol type="a">
        <li>Users are permitted to post, upload, publish, submit or transmit relevant information and content (User
          Content). By making available any User Content or any Intellectual Property on or through the App and
          Services,
          the User grants to Ask MUMM a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free
          licence to use the User Content and Intellectual Property, with the right to use, view, copy, adapt, modify,
          distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast, access,
          or
          otherwise exploit such User Content and Intellectual Property on, through, or by means of the App and
          Services.
        </li>
        <li>The User agrees that it is solely responsible for all User Content and Intellectual Property that it makes
          available through the App and Services. The User represents and warrants that:
          <ol type="i">
            <li>it is either the sole and exclusive owner of all User Content and Intellectual Property that it makes
              available through the App and Services, or that it has all rights, licences, consents and releases that
              are
              necessary to grant to Ask MUMM the rights in such User Content or Intellectual Property, as contemplated
              under these Terms; and
            </li>
            <li>neither the User Content nor the posting, uploading, publication, submission or transmittal of the User
              Content or Ask MUMM’s use of the User Content (or any portion thereof) on, through or by means of the App
              and the Services will infringe, misappropriate or violate a third party’s patent, copyright, trademark,
              trade secret, moral rights or other Intellectual Property rights, or rights of publicity or privacy, or
              result in the violation of any applicable law or regulation.
            </li>
          </ol>
        </li>
        <li>Ask MUMM may at its sole discretion remove any User Content that is offensive or in breach of these Terms.
        </li>
      </ol>


      <h3 class="l-terms__title">14. Non-reliance on User Content </h3>
      <ol type="a">
        <li><u>Medical questions:</u> User Content posted regarding medical issues are not intended to be medical advice
          or instructions for medical diagnosis or treatment, and no doctor-patient relationship is, or is intended to
          be,
          created. User Content is not a substitute for professional medical advice, examination, diagnosis or
          treatment.
          User Content should not be used to diagnose, treat, cure, or prevent disease without supervision of a doctor
          or
          qualified healthcare provider. You should not delay or for ego seeking treatment for a medical condition or
          disregard professional medical advice based on User Content. If you think you may have a medical emergency,
          call
          your doctor or your local emergency number immediately.
        </li>
        <li><u>Legal questions:</u> User Content posted related to legal questions is not intended to be legal advice or
          form a lawyer-client relationship. If you believe you have a legal claim, contact a lawyer licensed in your
          state (or country) discuss your matter. User Content is provided for informational purposes only, with no
          assurance that the User Content is true, correct, or accurate. No action should be taken, delayed, or deferred
          based on the User Content. User Content is not a substitute for professional legal advice or a solicitation to
          offer legal advice regarding specific facts. Should you ignore this warning and send specific or confidential
          information in a question or answer, there is no duty to keep that information confidential or to discontinue
          or
          forego any representation adverse to your interests. You should not delay or forego seeking legal advice or
          disregard professional legal advice based on User Content.
        </li>
        <li><u>Financial questions:</u> User Content posted regarding financial issues are not intended to be trading
          advice or instructions for business decisions, and no advisor-client relationship is, or is intended to be,
          created. User Content is provided for informational purposes only, with no assurance that the User Content is
          true, correct, or accurate. No action should be taken, delayed, or deferred based on the User Content. User
          Content is not a substitute for professional financial or business advice or a solicitation to offer financial
          or business advice regarding specific facts. Should you ignore this warning and send specific or confidential
          information in a question or answer, there is no duty to keep that information confidential or to discontinue
          or
          forego any representation adverse to your interests. You should not delay or forego seeking financial advice
          or
          disregard professional advice based on User Content.
        </li>
      </ol>

      <h3 class="l-terms__title">15. Disclaimers </h3>
      <ol type="a">
        <li>Ask MUMM does not endorse any Users or their questions or answers.</li>
        <li>Ask MUMM cannot and does not control the content contained in any questions or answers of Users. Users are
          responsible for determining the suitability of answers.
        </li>
        <li>Ask MUMM accepts no responsibility for and makes no representations or warranties to the User or to any
          other
          person or entity as to the reliability, accuracy or completeness of the information contained on the App.
        </li>
        <li>By using the App or Services, the User agrees that any legal remedy or liability that it seeks to obtain for
          actions or omissions of other Users or other third parties will be limited to a claim against the User or
          other
          third party who caused it harm. Ask MUMM encourages the User to communicate directly with the relevant User on
          the App and Services regarding any communications or arrangements made between them and to resolve any dispute
          between them.
        </li>
        <li>To the fullest extent allowable under applicable law, Ask MUMM disclaims all warranties, representations and
          conditions, whether express or implied, including any warranties, representations and conditions that the App
          or
          Services are merchantable, of satisfactory quality, reliable, accurate, complete, suitable or fit for a
          particular purpose or need, non-infringing or free of defects or errors.
        </li>
        <li>For the avoidance of doubt, Ask MUMM is not responsible for any duties, fees, taxation, visa or immigration
          matters associated under these Terms. Ask MUMM advises that all Users using the App and Services should seek
          advice in relation to these matters.
        </li>
        <li>Each User who uses the App and the Services does so at their own risk.</li>
        <li>Ask MUMM excludes all express and implied conditions and warranties, except for the User’s Statutory Rights,
          to the fullest extent permitted by law, including but not limited to:
          <ol type="i">
            <li>Ask MUMM expressly disclaims any implied or express guarantees, warranties, representations or
              conditions
              of any kind, which are not stated in these Terms;
            </li>
            <li>Ask MUMM does not warrant that the the App, the Services, content on the Site or App (including
              pictures,
              videos, sound clips, links etc.), or the User’s access to the App or the Services will be error free, that
              any defects will be corrected or that the App or the server which stores and transmits material to the
              User
              is free of viruses or any other harmful components;
            </li>
            <li>Ask MUMM takes no responsibility for, and will not be liable for, the App, the Services, the Users being
              unavailable or failing to meet the User’s needs; and
            </li>
            <li>Ask MUMM will not be liable for any loss, damage, costs or expense whether direct, indirect, incidental,
              special, consequential and/or incidental, including lost profits, loss of data or loss of goodwill,
              service
              interruption, computer damage or system failure or the cost of substitute products or services, or for any
              damages for personal, bodily injury, death or emotional distress, loss of revenue, production,
              opportunity,
              access to markets, goodwill, reputation, use or any indirect, remote, abnormal or unforeseeable loss, or
              any
              loss or damage relating to business interruption, loss of programs or other data on the User’s information
              systems or costs of replacement goods, or otherwise, suffered by the User or claims made against the User,
              arising out of or in connection with the App, Services, content on the App, inability to access or use the
              App, the Services or the Terms, even if Ask MUMM was expressly advised of the likelihood of such loss or
              damage.
            </li>
          </ol>
        </li>
        <li>The User agrees not to attempt to impose liability on, or seek any legal remedy from Ask MUMM with respect
          to
          such actions or omissions.
        </li>
      </ol>

      <h3 class="l-terms__title">16. Limitation of Liability</h3>
      <ol type="a">
        <li>To the extent permitted by law, Ask MUMM’s total liability arising out of or in connection with the App, the
          Services or the Terms, however arising, including under contract, tort, negligence, in equity, under statute
          or
          otherwise, is limited to Ask MUMM re-supplying the Services to the User. Ask MUMM’s total liability to the
          User
          for all damages in connection with the Services will not exceed the price paid by the User under these Terms
          for
          the 12 months period prior to the act which gave rise to the liability, or one hundred dollars (AUD$100) if no
          such payments have been made.
        </li>
        <li>The limitations of damages set forth above are fundamental elements of the basis of the bargain between Ask
          MUMM and the User. Some jurisdictions do not allow the exclusion or limitation of liability for consequential
          or
          incidental damages, so the above limitation may not apply to the User.
        </li>
        <li>This limitation of liability reflects the allocation of risk between the parties. The limitations specified
          in
          this section will survive and apply even if any limited remedy specified in these terms is found to have
          failed
          of its essential purpose. The limitations of liability provided in these terms inure to the benefit of Ask
          MUMM.
        </li>
      </ol>

      <h3 class="l-terms__title">17. Indemnity</h3>
      <ol type="a">
        <li>Each User agrees to defend and indemnify and hold Ask MUMM (and Ask MUMM’s parent, related bodies corporate,
          officers, directors, contractors, employees and agents) harmless from and against any claims, actions, suits,
          demands, damages, liabilities, costs or expenses (including legal costs and expenses on a full indemnity
          basis),
          including in tort, contract or negligence, arising out of or connected to the User’s use of or access to the
          Services; any breach by the User of these Terms; any wilful, unlawful or negligent act or omission by the
          User;
          and any violation by the User of any applicable laws or the rights of any third party.
        </li>
        <li>Ask MUMM reserves the right to assume the exclusive defence and control of any matter otherwise subject to
          indemnification by the User, in which event the User will cooperate in asserting any available defences.
        </li>
        <li>This defence and indemnification obligation will survive these Terms and the User’s use of the App or
          Services. These Terms, and any rights and licences granted hereunder, may not be transferred or assigned by
          the
          User, but may be assigned by Ask MUMM without restriction.
        </li>
      </ol>

      <h3 class="l-terms__title">18. General</h3>
      <ol type="a">
        <li>Accuracy: While Ask MUMM will endeavour to keep the information up to date and correct, Ask MUMM makes no
          representations, warranties or guarantee, express or implied, about the completeness, accuracy, reliability,
          suitability or availability of any information, images, products, services, or related graphics contained on
          the
          App for any particular purpose. The User hereby acknowledges that such information and materials may contain
          mistakes, inaccuracies or errors and Ask MUMM expressly excludes any liability for such to the fullest extent
          permissible by law.
        </li>
        <li>Termination: Ask MUMM reserves the right to refuse supply of the Services required by any User, terminate
          any
          User’s Account, terminate its contract with any User, and remove or edit content on the App in its sole
          discretion. If Ask MUMM decides to terminate a User’s Account, with or without notice to the User, the User’s
          Account will be deactivated, its password will be disabled and it will not be able to access the App,
          Services,
          its Account or its User Content.
        </li>
        <li>Fraudulent Activities: Each User acknowledges and agrees that, in the event Ask MUMM reasonably suspects
          that
          there are fraudulent activities occurring within the App and Services, Ask MUMM reserves the right to
          immediately terminate any Accounts involved in such activities, contact the relevant authorities and provide
          all
          necessary information to assist in proceedings and investigations.
        </li>
        <li>Force Majeure: Ask MUMM will not be liable for any delay or failure to perform its obligations under the
          Terms
          if such delay is due to any circumstance beyond its reasonable control.
        </li>
        <li>Notice: Any notice in connection with the Terms will be deemed to have been duly given when made in writing
          and delivered or sent by email or post to the party to whom such notice is intended to be given or to such
          other
          address or email address as may from time to time be notified in writing to the other party.
        </li>
        <li>Waiver: Any failure by a party to insist upon strict performance by the other of any provision in the Terms
          will not be taken to be a waiver of any existing or future rights in relation to the provision. No waiver by
          Ask
          MUMM of any of the Terms shall be effective unless Ask MUMM expressly states that it is a waiver and Ask MUMM
          communicates it to the User in writing.
        </li>
        <li>Assignment: A User must not assign any rights and obligations under the Terms whether in whole or in part
          without Ask MUMM’s prior written consent.
        </li>
        <li>Severability: If any of the Terms are determined by any competent authority to be invalid, unlawful or
          unenforceable to any extent, such term, condition or provision will to that extent be severed from the
          remaining
          terms, conditions and provisions which will continue to be valid to the fullest extent permitted by law.
        </li>
        <li>Jurisdiction and Applicable Law: These Terms, use of this App, the Services and any dispute arising out of
          any
          User’s use of the App or Services is subject to the laws of New South Wales, Australia, and subject to the
          exclusive jurisdiction of the New South Wales courts. The Site and App may be accessed throughout Australia
          and
          overseas. Ask MUMM makes no representation that the content of the App complies with the laws (including
          intellectual property laws) of any country outside Australia. If a User accesses the App from outside
          Australia,
          it does so at its own risk and are responsible for complying with the laws in the place where he/she accesses
          the App.
        </li>
        <li>Entire Agreement: These Terms and any document expressly referred to in them represent the entire agreement
          between Ask MUMM and each User, and supersede any prior agreement, understanding or arrangement between Ask
          MUMM
          and each User, whether oral or in writing.
        </li>
      </ol>

      <h2 class="l-terms__header">For questions and notices, please contact:</h2>
      <address class="vcard h-card l-terms__vcard">
        <span class="p-org org">Ask MUMM ABN 71 658 915 440</span>
        <!-- begin contacts__email -->
        <div> Email: <a class="email" href="mailto:contact@askmumm.com" tabindex="0">contact@askmumm.com</a></div>
        <!-- end contacts__email -->
        <div class="adr">
          <div class="street-address">1A Brelogail Street</div>
          <span class="locality">Northmead NSW 2152</span>
        </div>
      </address>

    </div>
  </section>
</main>
