@function encodecolor($string) {
  @if type-of($string) == 'color' {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote("#{$hex}");
  }
  $string: '%23' + $string;
  @return $string;
}

.icon-facebook {
  $color: encodecolor(#000);
  transform: translate3d(0, 0, 0);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 42 42' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.996 41.949C9.418 41.949.032 32.563.032 20.984.032 9.406 9.418.02 20.996.02S41.96 9.406 41.96 20.984c0 11.579-9.386 20.965-20.964 20.965zm6.817-35.494h-4.644c-2.756 0-5.822 1.16-5.822 5.154.014 1.392 0 2.725 0 4.225H14.16v5.074h3.287v14.606h6.04V20.812h3.986l.361-4.992h-4.451s.01-2.22 0-2.865c0-1.579 1.643-1.488 1.741-1.488.782 0 2.302.002 2.692 0V6.455h-.002z' fill='#{$color}'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: (42/42)*1em (42/10)*1rem;
}

@mixin icon-facebook($color: #000) {
  $color: encodecolor($color);
  transform: translate3d(0, 0, 0);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 42 42' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.996 41.949C9.418 41.949.032 32.563.032 20.984.032 9.406 9.418.02 20.996.02S41.96 9.406 41.96 20.984c0 11.579-9.386 20.965-20.964 20.965zm6.817-35.494h-4.644c-2.756 0-5.822 1.16-5.822 5.154.014 1.392 0 2.725 0 4.225H14.16v5.074h3.287v14.606h6.04V20.812h3.986l.361-4.992h-4.451s.01-2.22 0-2.865c0-1.579 1.643-1.488 1.741-1.488.782 0 2.302.002 2.692 0V6.455h-.002z' fill='#{$color}'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: (42/42)*1em (42/10)*1rem;
}

.icon-twitter {
  $color: encodecolor(#000);
  transform: translate3d(0, 0, 0);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 42 42' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.996 41.949C9.418 41.949.032 32.563.032 20.984.032 9.406 9.418.02 20.996.02S41.96 9.406 41.96 20.984c0 11.579-9.386 20.965-20.964 20.965zm13.442-29.304c-.989.439-2.05.736-3.168.869a5.531 5.531 0 002.425-3.051 11.018 11.018 0 01-3.503 1.338 5.507 5.507 0 00-4.025-1.74 5.515 5.515 0 00-5.514 5.514c0 .432.048.853.142 1.257A15.66 15.66 0 019.427 11.07a5.489 5.489 0 00-.747 2.773c0 1.913.974 3.601 2.454 4.59a5.49 5.49 0 01-2.499-.69v.07c0 2.673 1.901 4.9 4.424 5.408a5.598 5.598 0 01-2.491.096 5.522 5.522 0 005.151 3.83 11.064 11.064 0 01-8.165 2.283 15.608 15.608 0 008.454 2.479c10.144 0 15.691-8.404 15.691-15.692 0-.24-.005-.477-.016-.713a11.237 11.237 0 002.755-2.859z' fill='#{$color}'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: (42/42)*1em (42/10)*1rem;
}

@mixin icon-twitter($color: #000) {
  $color: encodecolor($color);
  transform: translate3d(0, 0, 0);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 42 42' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.996 41.949C9.418 41.949.032 32.563.032 20.984.032 9.406 9.418.02 20.996.02S41.96 9.406 41.96 20.984c0 11.579-9.386 20.965-20.964 20.965zm13.442-29.304c-.989.439-2.05.736-3.168.869a5.531 5.531 0 002.425-3.051 11.018 11.018 0 01-3.503 1.338 5.507 5.507 0 00-4.025-1.74 5.515 5.515 0 00-5.514 5.514c0 .432.048.853.142 1.257A15.66 15.66 0 019.427 11.07a5.489 5.489 0 00-.747 2.773c0 1.913.974 3.601 2.454 4.59a5.49 5.49 0 01-2.499-.69v.07c0 2.673 1.901 4.9 4.424 5.408a5.598 5.598 0 01-2.491.096 5.522 5.522 0 005.151 3.83 11.064 11.064 0 01-8.165 2.283 15.608 15.608 0 008.454 2.479c10.144 0 15.691-8.404 15.691-15.692 0-.24-.005-.477-.016-.713a11.237 11.237 0 002.755-2.859z' fill='#{$color}'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: (42/42)*1em (42/10)*1rem;
}



